<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Weather_Rider.GlobalSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Weather_Rider.settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Weather_Rider.GlobalSettings>
            <setting name="TimeZone" serializeAs="String">
                <value>Europe/Berlin</value>
            </setting>
            <setting name="TemperatureUnit" serializeAs="String">
                <value>C</value>
            </setting>
            <setting name="WindSpeedUnit" serializeAs="String">
                <value>km/h</value>
            </setting>
            <setting name="PrecipationUnit" serializeAs="String">
                <value>mm</value>
            </setting>
        </Weather_Rider.GlobalSettings>
        <Weather_Rider.settings>
            <setting name="TimeZone" serializeAs="String">
                <value>Europe/Berlin</value>
            </setting>
        </Weather_Rider.settings>
    </userSettings>
</configuration>